body {
                                font-family: 'Roboto', sans-serif;
				background-color:#d7d7d7 ;
}
.huy{
				text-align:  center;
				color: #FFFF00;
				text-shadow: black 0 0 2px;
}
.imgg{
#8098ff
				width: 500px;
				height: 500px;
}
